/* Styles */
html {
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #1F2937;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.hero .image {
  height: 240px;
  width: 1000px;
  background-color: rgb(115, 128, 150);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
  align-items: center;  
}

.hero {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 96px 0;
  background-color: #1F2937;
}

.hero h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero p {
  color: #E5E7EB;
  margin: 0;
}

.hero-left,
.hero-right {
  max-width: 34%;
  display: flex;
}

.hero-left {
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

button {
  background-color: #3882F6;
  align-self: flex-start;
  padding: 8px 32px;
  border-radius: 10px;
  border: none;
  color: #F9FAF8;
  font-size: 18px;
}

.white-section {
  height: 400px;
  padding-bottom: 70px;
}

.white-section h2 {
  text-align: center;
  padding: 30px 0;
  font-size: 36px;
}

.squares {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
  gap: 48px;
}

.square {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square .image {
  width: 150px;
  height: 150px;
  background: white;
  border: 3px solid #3882F6;
  border-radius: 20px;
}

.square p {
  text-align: center;
  width: 150px;
  color: #a5a7aB;
}

.grey-section {
  background-color: #E5E7EB;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  width: 55%;
  margin: 0;
} 

.quoter {
  width: 50%;
  text-align: right;
  font-size: 24px;
  padding-top: 20px;
  margin: 0;
}

.signup-section {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-box {
  background: #3882F6;
  width: 60%;
  border-radius: 5px;
  display: flex;
  color: white;
  justify-content: space-evenly;
  padding: 40px;
}

.blue-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blue-left h3,
.blue-left p {
  margin: 0;
}

.blue-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-right button {
  border: 2px solid white;
}

.footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}